#!/usr/bin/make -f

export DEB_BUILD_OPTIONS = noautodbgsym

SHELL := sh -e
VERSION ?= 9.0.3

%:
	dh ${@}

override_dh_auto_clean:
	rm -f config.h
	$(MAKE) clean

forgejo-$(VERSION)-linux-amd64.xz:
	curl -s -L -O https://codeberg.org/forgejo/forgejo/releases/download/v$(VERSION)/forgejo-$(VERSION)-linux-amd64.xz

forgejo: forgejo-$(VERSION)-linux-amd64.xz
	xz -d forgejo-$(VERSION)-linux-amd64.xz
	curl -s -L -O https://codeberg.org/forgejo/forgejo/releases/download/v$(VERSION)/forgejo-$(VERSION)-linux-amd64.sha256
	sha256sum -c forgejo-$(VERSION)-linux-amd64.sha256
	mv forgejo-$(VERSION)-linux-amd64 forgejo

forgejo.service:
	curl -s -L -O https://codeberg.org/forgejo/forgejo/raw/branch/forgejo/contrib/systemd/forgejo.service

override_dh_auto_build: forgejo forgejo.service

override_dh_auto_install:
	mkdir -p debian/forgejo/lib/systemd/system
	mkdir -p debian/forgejo/usr/bin
	cp forgejo debian/forgejo/usr/bin
	cp forgejo.service debian/forgejo/lib/systemd/system
