#!/usr/bin/make -f

export DEB_BUILD_OPTIONS = noautodbgsym

SHELL := sh -e
VERSION ?= 9.0.3

%:
	dh ${@}

override_dh_auto_clean:
	rm -f config.h
	$(MAKE) clean

forgejo-$(VERSION)-linux-amd64.xz:
	curl -s -L -O https://codeberg.org/forgejo/forgejo/releases/download/v$(VERSION)/forgejo-$(VERSION)-linux-amd64.xz

forgejo: forgejo-$(VERSION)-linux-amd64.xz
	xz -d forgejo-$(VERSION)-linux-amd64.xz
	curl -s -L -O https://codeberg.org/forgejo/forgejo/releases/download/v$(VERSION)/forgejo-$(VERSION)-linux-amd64.sha256
	sha256sum -c forgejo-$(VERSION)-linux-amd64.sha256
	mv forgejo-$(VERSION)-linux-amd64 forgejo

override_dh_auto_build: forgejo

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/forgejo/usr/bin
	cp forgejo $(CURDIR)/debian/forgejo/usr/bin
